Repository zimmerman-team/IATI.cloud, pull requests merged in 2019-10, with the labels that each got.

#1823 MLT-544
  OIPA/OIPA/settings.py
  OIPA/iati_synchroniser/migrations/0016_datasetnote_last_updated_model.py
  OIPA/iati_synchroniser/models.py
  OIPA/solr/__init__.py
  OIPA/solr/activity/conf/data-config.xml
  OIPA/solr/apps.py
  OIPA/solr/datasetnote/data-config.xml
  OIPA/solr/datasetnote/managed-schema
  OIPA/solr/migrations/0001_initial.py
  OIPA/solr/migrations/0002_transactiondelete.py
  OIPA/solr/migrations/0003_resultdelete.py
  OIPA/solr/migrations/0004_udpated_fields_name_transaction_id_and_result_id.py
  OIPA/solr/migrations/__init__.py
  OIPA/solr/models.py
  OIPA/solr/result/conf/data-config.xml
  OIPA/solr/signals.py
  OIPA/solr/transaction/conf/data-config.xml
Labels: INDEXING, SOLR

#1830 MLT-543
  OIPA/iati_codelists/migrations/0014_cashandvouchermodalities.py
  OIPA/iati_codelists/models.py
Labels: CODELISTS, PARSER, size/M

#1834 DS-313
  OIPA/solr/cron/delta-import.sh
Labels: size/XS

#1835 DS-315
  OIPA/solr/cron/full-import.sh
Labels: FEATURE, INDEXING, SOLR, size/XS

#1837 Changes to readme.md
  OIPA/api/activity/urls.py
  OIPA/iati_codelists/migrations/0014_cashandvouchermodalities.py
  OIPA/iati_codelists/models.py
  OIPA/solr/cron/delta-import.sh
  OIPA/solr/cron/full-import.sh
Labels: size/M

#1842 DS-323
  OIPA/solr/apps.py
  OIPA/solr/signals.py
Labels: INDEXING, SOLR, size/M

#1855 Documentation/make button for postman api
  OIPA/task_queue/views.py
  OIPA/templates/django_rq/stats.html
Labels: size/S

#1847 DEV-287
  OIPA/api/activity/filters.py
  OIPA/api/activity/views.py
Labels: size/S
